* {
    text-decoration: none ;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans',sans-serif;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 50px;
    font-weight:800;
    float:left;
    font-family: courier;
    color: #898AA6;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background:#FFFFFF;
    z-index: 1;
    border-bottom: 1px solid #364f6b;
}


nav ul{
    list-style-type: none;
    margin: 0;
    padding:0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

div section img {
    padding: 20px;
    border-radius: 40px;
    z-index: 0;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: black;
}

h2 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: black;
    width: 100%;
    line-height: 50px;
}

a.tombolbiru {
    background: #5e45ec;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
}

a.tombolbiru:hover {
    background: pink;
    text-decoration: none;
}

a.tombolpink {
    background: pink;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor:pointer;
    font-weight:bold;
}

a.tombolpink:hover {
    background: blue;
    text-decoration: none;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

.tengah {
    text-align: center;
    width: 100%;
}

.tutor-list {
    width: 100%;
    position: relatif;
    display: flex;
    flex-wrap: wrap;
}

.kartu-tutor {
    width: 20%;
    margin: 0 auto;
}

.kartu-tutor img {
    width: 80%;
    border-radius: 50%;
}

.kartu-tutor p {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 25px;
    color: #364f6b;
}

.partner-list {
    width: 100%;
    display: flex;
    position: relative;
    flex-wrap: wrap;
}

.kartu-partner {
    width:20%;
    margin: 0 auto;
}

.kartu-partner img {
    width: 150px;
    border-radius:50%;
}


#contact {
    background: #dedede;
    padding: 50px 0px 50px 0px;
}

.footer {
    width: 100%;
    position:relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section {
    width: 20%;
    margin: 0 auto;

}

h3 {
    font-family: 'comic sans ms';
    font-weight:800;
    font-size: 30px;
    margin-bottom: 20px;
    color: #364f6b;
    width: 100%;
}

#copyright {
    text-align: center;
    width: 100%;
    padding: 50px 0px 50px 0px;
    margin-top: 50px;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    display: none;
    width:0;
    transition-duration: 0.5s;

}

::-webkit-scrollbar-track:hover {
    display: block;
    background: red;
    width: 15px;
    transition-duration: 0.5s;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    background-clip: content-box;
    line-height: 1px;
    display: none;
}

::-webkit-scrollbar-thumb:hover {
    display: block;
    background-color: #364f6b;
    transition-delay: 2s;
    transition-duration: 2s;
}

@media screen and (max-width: 991.98px) {
    .wrapper {
        width:90%;
    }
    .logo {
        display: block;
        width: 100%;
        text-align: center;
    }
    nav .menu {
        width: 100%;
        margin: 0;
    }

    nav .menu ul {
        text-align: center;
        margin: auto;
        line-height: 59px;
    }

    nav .menu ul li {
        display: inline-block;
        float: none;
        margin:auto;
    }

    section {
        display: block;
    }
    
    section img {
        display: block;
        width: 100%;
    }

    .kartu-tutor {
        width:50%;
    }

    .kartu-partner {
        width: 50%;
    }

    #contact {
        width: 100%;
    }

    #contact div div div{
        width: 48%

    }

}